@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,500&family=PT+Serif:ital@0;1&display=swap');
/* font-family: 'Open Sans', sans-serif; 
font-family: 'PT Serif', serif;
#021f25;
#05BFDB*/
* {
    margin: 0;
    padding: 0;
}
body{
    background-image: repeating-linear-gradient(rgb(1, 20, 40),rgb(7, 29, 25) 10%,rgb(1, 20, 40) 20%);
    color: white;
    font-family: 'PT Serif', serif;
}
.head {
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 42, 59);
    width: 100%;
}
.left{
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color:rgb(118, 191, 255);
    font-size: 1.1rem;
}
.first{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 0;
}
.first > div{
    width: 35%;
}
.rightsec{
    font-size:2.5rem;
    margin: 9% 0;
}
.name{
    color: rgb(125, 87, 161);
}
#element{
    color:rgb(125, 87, 161) ;
}
.leftsec img{
    width: 100%;
    margin: 50px 0;
    border-radius: 80%;
}
.line {
    width: 80%;
    border-color: black;
    margin: 0 10%;
}
.about {
    color: rgb(125, 87, 161);
    padding-bottom: 7px;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 10% 20% 10%;
    font-size: 1.3rem;
    font-weight: 100;
}
.education {
    color: rgb(125, 87, 161);
    padding-bottom: 7px;
}
.second3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 10% 20% 10%;
    font-size: 1.3rem;
    font-weight: 100;

}
.skill{
    color: rgb(125, 87, 161);
    padding-bottom: 7px;
}
.third {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 10% 20% 10%;
    font-size: 1.3rem;
    font-weight: 100;
}
.projects{
    color: rgb(125, 87, 161);
    padding-bottom: 7px;
}
.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 10% 20% 10%;
    font-size: 1.3rem;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: white;
}
.spot, .weat, .ev{
    color: rgb(0, 229, 255);
    font-weight: 500;
}
.course {
    color: rgb(125, 87, 161);
    padding-bottom: 7px;
}
.final {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 10% 20% 10%;
    font-size: 1.3rem;
    font-weight: 100;
}
.links{
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(0, 229, 255,0.2);
    color: white;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social li{
    margin: 0 15px;
}
.social a img{
    width: 40px;
}
.btm_line{
    width: 100%;
    background-color: black;
    border-color: black;
    color: black;
}
/*@media (max-width: 991px) {
    .contact_form{
        width: 100%;
    }
}*/